.start-practicing:visited {
  color: white;
}

.practice-list {
  list-style: none;
  margin-left: -10%;
  text-align: center;
}

.dashboard-word {
  margin-top: 6%;
  margin-bottom: 6%;
  background-color: rgb(83, 80, 71);
  border-radius: 7px;
  padding: 5px;
}

.dashboard-word h4 {
  display: inline-block;
  margin: auto;
  font-size: 20px;
}

.dashboard-word div {

}
