@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Archivo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(239, 221, 255);
}

:root {
  --font-size: calc(10px + 1vmin);
}

main {
  margin: auto;
  text-align: center;
}

h2 {
  color: rgb(255, 184, 157);
}




